body{
  background-color: slateblue;
  margin: 0 auto;
}

input[type=text],
input[type=text]:focus{
  color: #fff;
  transition: all ease-out 0.5s;
  border: none;
  background-color: rgba(0, 0, 0, .2);
}
.trash__deleteitems {
  color: white;
  margin-top: auto;
margin-bottom: auto;

font-size: 21px;
display: block;
margin-left: auto;
}
.trash__deleteitems:hover {
  color: wheat;
margin: auto auto;
transition: all ease-in 0.7s;
font-size: 21px;
}
.loader {
  position: absolute !important;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.addTodoFild {
  width: 100%;
  bottom: 0px;
  position: relative;
  max-width: 100%;
}

.delete {
  padding: 5px;
  width: 60px;
  display: flex;
  margin: 0;
  margin-top: 5px;
  align-items: center;
}

.widthBLOCK {
  width: 80%;
}

h1 {
  text-align: center;
}

.container{
  max-width: 450px;
}
.mapingdivs {
 max-width: 80%;
 margin: 0 auto;
  margin-bottom: 15px;
margin-top: 15px;
}

p {
  color: white;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 28px;
}

input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background-color: navy;
}

li.list-group-item{
  background-color: #423a6f;
  color: #F8F9FA;
}

.delete{
  cursor: pointer;
  height:50px;
  align-items: center;
  margin: auto;
}
.bodys {
  font-size: 14px;
  font-weight: 100;
}
label.add{
  margin-bottom: 15px;
}


.mapping__elements__container {
 Height: 75vh;
overflow: auto;
}

.filtred{
  display: none !important;
}
.input__Wrapper {
  align: center;
}
.mapingdivs {
  background-color:navy; 
  border-radius: 3px;
  padding: 11px;
  display: flex;
}
h1 {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}
input {

height: 30px;

text-align: center;
font-size: 15px;
position: fixed;
bottom: 15px;
margin: auto;
left: 0;
right: 15px;
position: fixed;
width: 80%;

}

button {
  color: white;
  background-color: navy;
  border-radius: 0px 0px 5px 5px;
  border: none;
  padding: 10px;
  margin:  auto;
  display: block;
 margin-bottom: 10px;
  width: 50%;
}