body{
  background-color: #352f5b;
  max-width: 500px;
  margin: 0 auto;
}
.m5 {
  margin-bottom: 10px;
}

.loader {
  position: absolute !important;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.addTodoFild {
  width: 100%;
  bottom: 0px;
  position: relative;
  max-width: 100%;
}

.delete {
  padding: 5px;
  width: 60px;
  display: flex;
  margin: 0;
  margin-top: 5px;
  align-items: center;
}

.widthBLOCK {
  width: 80%;
}

h1 {
  text-align: center;
}

.container{
  max-width: 450px;
}
.mapingdivs {
 max-width: 80%;
 margin: 0 auto;
  margin-bottom: 15px;
margin-top: 15px;
}

p {
  color: white;
  margin: 0;
}

input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, .2);
}

li.list-group-item{
  background-color: #423a6f;
  color: #F8F9FA;
}

.delete{
  cursor: pointer;
  height:50px;
  align-items: center;
  margin: auto;
}
.bodys {
  font-size: 14px;
  font-weight: 100;
}
label.add{
  margin-bottom: 15px;
}

.filtred{
  display: none !important;
}

.mapingdivs {
  background-color:rgba(0, 0, 0, .2); 
  border-radius: 10px;
  padding: 11px;
  display: flex;
}
h1 {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}
input {

  width: 80%;
  display: block;
 margin: 0 auto;
 margin-bottom: 10px;
  height: 20px;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

button {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 0 auto;
  display: block;
  width: 50%;
}