body{
  background-color: #443434;
  margin: 0 auto;
}
.Search__input {
  height: 25px;
text-align: center;
font-size: 15px;
position: fixed;
bottom: 0;
margin: 10px auto;
left: 0;
right: 15px;
position: relative;
width: 40%;
display: block;
}
.trash__Delete__All_Todos {
  color: white;
font-size: 27px;
}
.trash__deleteitems {
  color: white;
  margin-top: auto;
margin-bottom: auto;


font-size: 21px;
display: block;

}
.trash__deleteitems:hover {
  color: #D2D79F;
transition: all ease-in 0.7s;
font-size: 21px;
}
.loader {
  position: absolute !important;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.addTodoFild {
  width: 100%;
  bottom: 0px;
  position: relative;
  max-width: 100%;
}

.delete {
  padding: 5px;
  width: 60px;
  display: flex;
  margin: 0;
  margin-top: 5px;
  align-items: center;
}


.Go__to__timer__page {
  color: white;
  font-size: 20px;
  margin-top: 7px;
}
.Add-to-mark {
color: white;
margin-top: auto;
margin-bottom: auto;
font-size: 24px;
display: block;
margin-left: auto;
}



.container{
  max-width: 450px;
}
.mapingdivs {
 max-width: 80%;
 margin: 0 auto;
  margin-bottom: 15px;
margin-top: 15px;
}

p {
  color: white;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 20px;
}



li.list-group-item{
  background-color: green;
  color: #F8F9FA;
}

.delete{
  cursor: pointer;
  height:50px;
  align-items: center;
  margin: auto;
}
.bodys {
  font-size: 14px;
  font-weight: 100;
}
label.add{
  margin-bottom: 15px;
}


.mapping__elements__container {
 Height: 75vh;
overflow: auto;
}

.filtred{
  display: none !important;
}
.input__Wrapper {
  align: center;
}
.first__Block__Wrapeer {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
  justify-content: center;

}
.mapingdivs {
 background-color: #307953;
  border-radius: 3px;
  padding: 11px;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
  
}
input {
  background-color: #42855B;
  border: none;
  color: white;
  border-radius: 3px;
height: 30px;

text-align: center;
font-size: 15px;
position: fixed;
bottom: 15px;
margin: auto;
left: 0;
right: 15px;
position: fixed;
width: 80%;

}

button {
  color: white;
  background-color: navy;
  border-radius: 0px 0px 5px 5px;
  border: none;
  padding: 10px;
  margin:  auto;
  display: block;
 margin-bottom: 10px;
  width: 50%;
}